AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BinPackParameters: AlwaysOnePerLine
BreakBeforeBraces: Attach
ColumnLimit: 80
PointerAlignment: Right
QualifierAlignment: Right
UseTab: Never
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: All
IndentWidth: 4
AlwaysBreakTemplateDeclarations: Yes